{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" />
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Curso</h1>

<form method="post">
    {% csrf_token %}
    
    <p>{{form.titulo.label}}:
        {% render_field form.titulo class="campo" placeholder="Digite o titulo do curso" %}
    </p>
    <p>{{form.vagas.label}}:
        {% render_field form.vagas class="campo" placeholder="Digite a quantidade de vagas" %}
    </p>
    <button type="submit">Salvar</button>
</form>

</body>
</html>